body {
	@total-width: (@column-width*12) + (@gutter-width*12);
	
	padding: 0 ((@gutter-width*.5)/@total-width)*100%;
	margin: 0;
}

.row(@columns:@columns) {
	@total-width: (@column-width*@columns) + (@gutter-width*@columns);

	display: block;
	overflow: hidden;
	
	width: ((@gutter-width + @total-width)/@total-width)*100%;
	margin: 0 ((@gutter-width*.5)/@total-width)*-100%;
}

.grid(@x,@columns:@columns) {
	@total-width: (@column-width*@columns) + (@gutter-width*@columns);

	display: block;
	overflow: hidden;
	float: left;
	display: inline;

	width: ((((@gutter-width+@column-width)*@x)-@gutter-width) / @total-width) * 100%;
	margin: 0 ((@gutter-width*.5)/@total-width)*100%;
}